<div class="container">
    <div class="signup_container">
        <div class="signup">
            <div class="signup_container">
                <div class="signup_left">
                    <!-- <img class="signin_logo" src="../../../assets/images/logo.svg" alt="" /> -->
                    <div class="form-head" style="font-weight:500">
                        <p class="head_bounce" style="font-size: 35px; color: #4285F4">G</p>
                        <p class="head_bounce" style="font-size: 30px; color: #DB4437">o</p>
                        <p class="head_bounce" style="font-size: 35px; color: #F4B400">o</p>
                        <p class="head_bounce" style="font-size: 30px; color: #4285F4">g</p>
                        <p class="head_bounce" style="font-size: 35px; color: #0F9D58">l</p>
                        <p class="head_bounce" style="font-size: 30px; color: #DB4437">e</p>
                    </div>
                    <h1 class="signup_header">Create Your Google Account</h1>
                    <p class="signup_subheader">To continue To Google</p>
                    <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="signup_inputfields">
                        <div class="signup_nameinputs">
                            <mat-form-field appearance="outline" class="name_input">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="" formControlName="firstName">
                                <mat-error *ngIf="submitted && registerForm.get('firstName')?.hasError('required')">First name is required</mat-error>
                                <mat-error *ngIf="submitted && registerForm.get('firstName')?.errors?.['pattern']">First name is not valid</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="name_inputs">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="" formControlName="lastName">
                                <mat-error *ngIf="submitted && registerForm.get('lastName')?.hasError('required')">Last name is required</mat-error>
                                <mat-error *ngIf="submitted && registerForm.get('lastName')?.errors?.['pattern']">Last name is not valid</mat-error>
                            </mat-form-field>
                        </div>
                        <mat-form-field appearance="outline" class="email_input">
                            <mat-label>Username or email</mat-label>
                            <input matInput placeholder="" type="email" formControlName="emailId">
                            <mat-hint>You can use letters, numbers & periods</mat-hint>
                            <mat-error *ngIf="submitted && registerForm.get('emailId')?.hasError('required')">Email Id is required</mat-error>
                            <mat-error *ngIf="submitted && registerForm.get('emailId')?.errors?.['pattern']">Email Id is not valid</mat-error>
                        </mat-form-field>
                        <div class="signup_button">
                            <a mat-button class="btn-basic signup_button text_bold button_text" color="primary">Use my current email address instead</a>
                        </div>
                        <div class="signup_inputpassword">
                            <div class="signup_passwordWrapper">
                                <mat-form-field appearance="outline" class="password_input">
                                    <mat-label>Password</mat-label>
                                    <input matInput placeholder=" " [type]="showPass ? 'password' : 'text'" formControlName="password">
                                    <mat-error *ngIf="submitted && registerForm.get('password')?.hasError('required')">Password is required</mat-error>
                                    <mat-error *ngIf="submitted && registerForm.get('password')?.errors?.['pattern']">Password is not valid</mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="">
                                    <mat-label>Confirm</mat-label>
                                    <input matInput placeholder="" [type]="showPass ? 'password': 'text'" formControlName="confirmPassword">
                                    <mat-error *ngIf="submitted && registerForm.get('confirmPassword')?.hasError('required')">Confirm password is required</mat-error>
                                    <mat-error *ngIf="submitted && registerForm.get('confirmPassword')?.errors?.['pattern']">Confirm password is not valid</mat-error>
                                    <mat-error *ngIf="submitted && registerForm.get('confirmPassword')?.errors?.['mustMatch']">Confirm password doesn't matched</mat-error>
                                </mat-form-field>
                            </div>
                            <p class="signup_helpertext" *ngIf="!submitted">Use 8 or more characters with a mix of letters, numbers & symbols
                            </p>
                            <section class="example-section">
                                <mat-checkbox class="example-margin" (click)="showPassword()">Show Password</mat-checkbox>
                            </section>
                        </div>
                        <div class="signup_buttons_container">
                            <a mat-button class="btn-basic signup_button text_bold" color="primary" (click)="toggleLogin()">Sign in instead</a>
                            <button type="submit" mat-raised-button class="btn-primary signup_button buttons " color="primary">Next</button>
                        </div>
                    </form>
                </div>
                <div class="signup_figure">
                    <!-- <img class="signup_figureImg " src="../../../assets/images/account.svg" alt="account" /> -->
                    <div class="signup_figurecaption ">
                        One account. All of Google working for you
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>