.signup_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signup {
    width: 670px;
    border: 1px solid #dadce0;
    border-radius: 7px;
    padding: 50px 40px;
    height: 72vh;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.signup_left {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 469px;
}

.signup_figure {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 40px;
}

.signup_figureImg {
    max-width: 120%;
    width: 244px;
    height: 244px;
}

.signup_figurecaption {
    font-size: 16px;
    font-weight: 350 !important;
    line-height: 1.4286;
}

.signup_header {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 10px;
}

.signup_subheader {
    font-size: 16px;
    font-weight: 400;
}

.signup_inputfields {
    margin-top: 40px;
}

 ::ng-deep .mat-form-field-suffix {
    align-self: center !important;
}

.signup_nameinputs {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: -25px;
}

.mat-form-field-flex {
    align-items: center !important;
}

.email_input {
    margin-top: 5px !important;
}

.name_input {
    margin-right: 10px !important;
}

.email_input {
    width: 100%;
}

.signup_inputpassword {
    margin-top: 20px;
    width: 100%;
}

.signup_passwordWrapper {
    display: flex;
    justify-content: space-between;
}

.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
    font-size: 14px !important;
    color: #202124 !important;
    font-weight: 100 !important;
}

.text_bold {
    font-weight: 500 !important;
    padding: 0 10px 0 10px !important;
    margin-left: -8px !important;
    color: #1a73e8;
}

.button_text {
    letter-spacing: .03rem;
}

.text_bold:hover {
    border-radius: 5px;
    text-transform: none;
    color: #174ea6;
}

.password_input {
    margin-right: 10px !important;
}

.signup_helpertext {
    color: #5f6368;
    font-size: 0.75rem;
    margin-top: 3px;
    font-weight: 400;
    margin-top: -18px;
    margin-left: 10px;
}

.signup_helpertext_error {
    color: #d93025;
}

.checkbox_input {
    margin-top: -10px !important;
}

.signup_buttons_container {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0;
}

.signup_button {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: .875rem;
    text-transform: capitalize !important;
}

.buttons {
    background-color: #1a73e8 !important;
    padding: 0 10px 0 10px !important;
}

.signup_button:first-of-type {
    padding-left: 0;
}

.form-head {
    display: flex;
    flex-direction: row;
}

 ::ng-deep .alert-title {
    font-family: Roboto !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    margin-bottom: 10px !important;
    letter-spacing: 0.1rem !important;
    margin-left: 35px !important;
    margin-right: 35px !important;
}

 ::ng-deep .alert-message {
    font-family: Roboto !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    letter-spacing: 0.1rem !important;
    margin-left: 35px !important;
    margin-right: 35px !important;
}

 ::ng-deep .ngx-toastr {
    width: 70% !important;
    border-radius: 10px !important;
}

 ::ng-deep .success {
    background-color: #0F9D58;
}

 ::ng-deep .error {
    background-color: #f44336;
}

@keyframes bounce {
    0%,
    100%,
    30%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}

.head_bounce {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.head_bounce:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}

 ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #1a73e8 !important;
}

 ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #1a73e8 !important;
}

 ::ng-deep .mat-form-field-suffix {
    align-self: center !important;
}

 ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #1a73e8;
}

 ::ng-deep .mat-hint {
    color: #5f6368;
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 10px;
}

 ::ng-deep .mat-error {
    color: #f44336;
    font-size: 12px;
}

.example-section {
    margin-top: 15px !important;
}

@media (max-width: 376px) {
    .signup_container {
        padding-bottom: 40px !important;
    }
}

@media (max-width: 600px) {
    .container {
        width: 100vw;
        height: 100vw;
    }
    .signup_container {
        justify-content: center;
    }
    .signup {
        box-shadow: none;
        border: none !important;
        position: absolute;
        top: 0;
        margin-top: 20px !important;
    }
    .signup_nameinputs {
        display: flex;
        flex-direction: column;
        width: 80vw;
    }
    .name_input {
        margin-bottom: 20px !important;
        margin-right: 0px;
    }
    .signup_passwordWrapper {
        display: flex;
        flex-direction: column;
    }
    .password_input {
        margin-bottom: 20px !important;
        margin-right: 0px !important;
    }
    .name_input {
        margin-right: 0px !important;
    }
    .signup_buttons_container {
        margin-bottom: 25px !important;
    }
    .email_input {
        width: 80vw !important;
    }
     ::ng-deep .ngx-toastr {
        width: 95% !important;
    }
}

@media (max-width: 910px) {
    .signup {
        width: 469px;
        height: 69vh;
        padding: 50px 0px 50px 40px;
    }
    .signup_figure {
        display: none;
    }
}